{% extends 'front/base.html' %}

{% load static %}

{% block content %}

<div class="about_section layout_padding">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
             <div class="banner_taital">
                <h1 class="about_taital"  style="color:white;">Biodata</h1>
                <p class="banner_text" style="color:white;">Nama : Muhammad Azriel Yahya</p>
                <p class="banner_text" style="color:white;">Nim : 2011102441088</p>
                <p class="banner_text" style="color:white;">No/Hp : 089689363965</p>
                <p class="banner_text" style="color:white;">Email : azrielyahya55@gmail.com</p>
                <p class="banner_text" style="color:white;">Website ini saya beri nama Al-Quran Kita, saya membuat website Al-Qur’an ini adalah website Al-Qur’an sebagai sarana untuk 
                   meningkatkan minat baca Al-Qur’an dan memotivasi anak muda agar tidak lupa membaca Alquran. Di jaman sekarang anak muda menghabiskan waktu dengan bermain gadget 
                   dan melupakan betapa pentingnya membaca Al-Quran.</p>
             </div>
          </div>
          <div class="col-md-6 padding_right_0">
            <div class="image_1"><img src="{% static 'front/images/Ajill.jpeg' %}" width="400" height="400"></div>
          </div>
       </div>
    </div>
 </div>

{% endblock content %}