{% extends 'front/base.html' %}

{% load static %}

{% block content %}

<div class="services_section layout_padding">
    <div class="container">
       <h1 class="services_taital">Services </h1>
       <div class="services_section_2">
          <div class="row">
             <div class="col-md-4">
                <div><img src="{% static 'front/images/alquran1.jpg' %}" class="services_img"></div>
                <div class="btn_main"><a href="#">Surah</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="{% static 'front/images/alquran2.jpg' %}" class="services_img"></div>
                <div class="btn_main active"><a href="#">Ayat</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="{% static 'front/images/alquran3.jpg' %}" class="services_img"></div>
                <div class="btn_main"><a href="#">Artinya</a></div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock content %}